---
layout: default
---
<div class="row">
    <div class="column"t>
      <h1>Filesystem</h1>
        <div class="posts">
        {% for post in site.categories["file-system"] limit:3 %}
            <article class="post">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </article>
        {% endfor %}
        </div>
    </div>
    <div class="column">
        <h1>Snapraid</h1>
        <div class="posts">
        {% for post in site.posts %}
            {% if post.categories contains "Snapraid" %}
                <article class="post">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </article>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <h1>Duplicacy</h1>
    <div class="posts" >      
        {% assign backups = "Duplicacy-default-raspberry_domoticz Duplicacy-HDD7-mathias_spel Duplicacy-HDD7-newserver Duplicacy-HDD7-openelec Duplicacy-HDD7-raspberry_domoticz Duplicacy-default-newserver Duplicacy-default-openelec" | split: ' ' | sort %}
        {% for backup in backups %}
            {% for post in site.categories[backup].first %}
                <article class="post">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </article>
            {% endfor %}
        {% endfor %}
       <!-- <article class="post">
            <a href="{{ site.baseurl }}{{ site.categories["Duplicacy-HDD7-mathias_spel"].first.url }}">{{ site.categories["Duplicacy-HDD7-mathias_spel"].first.title }}</a>
            <a href="{{ site.baseurl }}{{ site.categories["Duplicacy-HDD7-newserver"].first.url }}">{{ site.categories["Duplicacy-HDD7-newserver"].first.title }}</a>
            <a href="{{ site.baseurl }}{{ site.categories["Duplicacy-HDD7-openelec"].first.url }}">{{ site.categories["Duplicacy-HDD7-openelec"].first.title }}</a>
            <a href="{{ site.baseurl }}{{ site.categories["Duplicacy-HDD7-raspberry_domoticz"].first.url }}">{{ site.categories["Duplicacy-HDD7-raspberry_domoticz"].first.title }}</a>
            
            <a href="{{ site.baseurl }}{{ site.categories["Duplicacy-default-raspberry_domoticz"].first.url }}">{{ site.categories["Duplicacy-default-raspberry_domoticz"].first.title }}</a>
            <a href="{{ site.baseurl }}{{ site.categories["Duplicacy-default-newserver"].first.url }}">{{ site.categories["Duplicacy-default-newserver"].first.title }}</a>
            <a href="{{ site.baseurl }}{{ site.categories["Duplicacy-default-openelec"].first.url }}">{{ site.categories["Duplicacy-default-openelec"].first.title }}</a>
        </article>
       -->
    </div>
</div>
