---
layout: default
---
<div class="row">
    <div class="column"t>
      <h1>Filesystem posts</h1>
        <div class="posts">
        {% assign first_post = site.categories["file-system"].first %}
        <h2><a href="{{ site.baseurl }}{{ first_post.url }}">{{ first_post.title }}</a></h2>
        {{ first_post.content }}
        {% for post in site.categories["file-system"] limit:2 offset: 1 %}
            <article class="post">       
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>          
            </article>
        {% endfor %}
        </div>
    </div>
    <div class="column">
        <div class="posts">
        {% for post in site.posts %}
            <article class="post">

            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

            <div class="entry">
                {{ post.excerpt }}
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
            </article>
        {% endfor %}
</div>
    </div>
</div>




<h1>All Posts</h1>